{%extends 'layout.html'%}
{% block body %}
<div class='container'>
	<h3 align="center"> Featured Books <br>
    <small> (Sponsored Page) </small>
    </h3><br><br>
    {% if not LoggedIn %}
		<div class="jumbotron jumbotron-fluid">
  			<div class="container">
    			<h1 class="display-4" align="center">Error.</h1>
    			<p class="lead" align="center">Please Login to view this section</p>
  			</div>
		</div>		
	{% endif %}

{% if LoggedIn %}	
{% set i = 0 %}
	    {% for i in range(0,books|length,4) %}
		{% set Books = books[i:i+4] %}
		<div class='row' style="margin-left: 25px; margin-right: 25px;">
		{% for book in Books %}
			<div class='col-md-3' style="margin-bottom: 25px;">
				<div align="center"><a href='/book/{{book.name}}'><img src={{book.cover}} class="img-thumbnail"></a><br>
				<b>{{book.name}}</b></div>
			</div>
		{% endfor %}
		</div>
	{% endfor %}
{% endif %}
</div>
{% endblock %}