{%extends 'layout.html'%}
{% block body %}
<div class='container'>
	<h3 align="center"> Free Ebooks <br>
    <small> (No Registration Required) </small>
    </h3><br><br>
	{% set i = 0 %}
	{% for i in range(0,books|length,4) %}
		{% set Books = books[i:i+4] %}
		<div class='row' style="margin-left: 25px; margin-right: 25px;">
		{% for book in Books %}
			<div class='col-md-3' style="margin-bottom: 25px;">
				<div align="center"><a href='/book/{{book.name}}'><img src={{book.cover}} class="img-thumbnail"></a><br>
				<b>{{book.name}}</b></div>
			</div>
		{% endfor %}
		</div>
	{% endfor %}
</div>
{% endblock %}